<!-- 전체 게시글 조회 페이지 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  About styling  -->
    <link href
    ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src
        ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Myeongjo&family=Yeon+Sung&display=swap"
    rel="stylesheet">

    <!-- About JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>MyBlog with node.js</title>
    <!-- style -->
    <style>
        
        *{
            font-family: 'Yeon Sung', cursive;
        }
.title {
    background-color: darkblue;
    color: ivory;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    min-width: 400px;
    height: 20%;
    min-height: 100px;
}

.titlewrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebox > h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Yeon Sung', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    min-height: 500px;
    max-height: 800px
}

.wrap {
    width: 95%;
    height: 80%;
    display: flex;
    text-align: center;
}


.table {
    border: 1px solid black;
    font-size: 15px;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.showtable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showtable > input{
    width: 100%;
    margin-bottom: 20px;
}

.last{
    height: 100px
}

.btn{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

.btn > button:first-child{
    margin-left: 20px;
}

.showtable > p {
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

.commentdiv{
    width: 100%;
    border: 1px solid black
}

.commentdiv > table > thead{
    border: 1px solid black

}

.commentdiv > thead > tr:first-child{
    width: 80%;
}

.table{
    margin-top: 20px;
}


.commentPost{
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentPost > input{
    margin-top: 20px;
    width: 50%;
}

.commentInput{
    margin-bottom: 10px;
}

.commentPostBtn{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    margin-right: 20px;
}

.commenteidtbtns{
    display: flex;
}

    </style>

    <script>
        $(document).ready(function(){
            if (localStorage.length !== 0){
                getSelf()
            }
        })
        function getSelf() {
            $.ajax({
                type: "GET",
                url: "/posts/users/me",
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                        },
                success: function (response) {
                    $('#commentEditbtns').show()
                    let currentUserId_DB = response.user._id
                    for ( let i =0; i <= document.getElementsByTagName('tr').length; i++){
                        if (currentUserId_DB === $(`#commentEditbtns${i}`).attr('class'))
                        $(`#commentEditbtns${i}`).show()
                    }
                    // 토큰 ID가 userID와 같으면 수정/삭제 버튼 보이기
                        }
                    ,
                error: function (xhr, status, error) {
                    if (status == 401) {
                        alert("로그인이 필요합니다.");
                    } else {
                        localStorage.clear();
                        alert("알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.");
                    }
                    window.location.href = "/";
                    },
                });
                }

        function openCommentPost(){
            if (localStorage.length !== 0){ 
            $('#commentPost').show()
        }else{
            alert('로그인 후 이용해주세요.')
            window.location.href = '/posts/auth'
            }
        }

        function commentpost(){
            let comment = $('#comment').val()
            const tokenid = localStorage.token
           if (comment === ''){
               alert('댓글 내용을 입력해주세요.')
               return
           }
           $.ajax({
                type: 'POST',
                url: `/posts/<%= post[0]['count'] %>/comment`,
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                        },
                data: {
                    tokenid, comment 
                },
                success: function (response) {
                    alert(response.msg)
                    window.location.href = `/posts/<%= post[0]['count'] %>`
                }
            });

        }




        // 수정 내용 '' 값은 validation 하기
        function editShow(num){
            console.log(num)
            $(`#currentComment${num}`).hide()
            $(`#newComment${num}`).show()
            $(`#commentEditBtn${num}`).hide()
            $(`#commentDeleteBtn${num}`).hide()
            let temp_html = `<button onclick = commentEdit(${num})>저장</button>
                            <button onclick = goback()>뒤로 가기</button>
            `
            $(`#commentBtns${num}`).append(temp_html)
        }
        function commentEdit(num){
            console.log(num)
            let newComment = $(`#new${num}`).val()
            let tokenid = localStorage.token
            console.log(newComment)
            if ( newComment === ''){
                alert('수정 내용을 작성해주세요.')
            } 
            else{
                $.ajax({
                type: 'PATCH',
                url: `/posts/<%= post[0]['count'] %>/comment`,
                data: {
                tokenid, newComment, commentCount: num
                },
                success: function (response) {
                    if (response['success']){
                        alert(response['msg'])
                        window.location.href = `/posts/<%= post[0]['count'] %>`
                    }
                    else{
                        alert(response['errormsg'])
                    }
                }
            });
            }
        }

        function goback(){
            window.location.href = '/posts'
        }

        function commentDelete(num){
            console.log(num)
            let id = `commentList(${num})`
            let tokenid = localStorage.token

            if(confirm('정말 삭제하시겠습니까?')){
                $.ajax({
                type: 'DELETE',
                url: `/posts/<%= post[0]['count'] %>/comment`,
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                        },
                data: {
                    tokenid, commentCount: num
                },
                success: function (response) {
                    alert(response.msg)
                    window.location.href = `/posts/<%= post[0]['count'] %>`
                }
            });
            }else{
                return
            }
        }
        </script>
</head>
<body>
    <header class="title">
        <div class="titlewrap">
            <div class="titlebox">
                <h1 class="titlename" id='realname'>
                    유현준 블로그
                </h1>
            </div>
    </header>

    <div>
    </div>
    </div>
    <main>
        <div class="wrap">
            <div class="review">
                <div class="showtable">
                    <p id = 'nickname'> 닉네임: <%= post[0]['nickname'] %></p>
                    <p id = 'title'>제목: <%= post[0]['title']%></p>
                    <p id = 'content'class = 'last'>내용: <%= post[0]['content']%></p>
                    <div class="btn">
                        <button onclick="window.location.href = '/posts'">뒤로가기</button>
                        <button id = 'commentbtn' onclick = 'openCommentPost()'>댓글 작성하기</button>
                    </div>
                    <div id = 'commentPost'class = 'commentPost' style = "display: none;">
                        <input id = 'comment'class = 'commentInput'type="text" placeholder="댓글 내용">
                        <div class = 'commentPostBtn'>
                            <button onclick = "$('#commentPost').hide()" style = "margin-left: 10px;">닫기</button>
                            <button onclick = "commentpost()">댓글 등록하기</button>
                        </div>
                    </div>
                    <table id='placetable' class='table'>
                        <thead>
                        <tr>
                            <td style="width: 10%;" >작성자명</td>
                            <td stlye= "width: 80%;">댓글</td>
                            <td style="width: 10%">비고</td>
                        </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < comments.length; i++) { %>
                                <% let nickname = comments[i]['nickname'] %>
                                <% let comment = comments[i]['comment']%>
                                <% let userId_DB = comments[i]['userId_DB'] %>
                                <% let commentCount = comments[i]['commentCount']%>
                                <tr class = '<%= commentCount%>' id = 'commentList<%=commentCount%>'> <!-- 게시물 클릭 시, 상세 게시물 페이지로 전환 -->
                                <td><%= nickname %></td>
                                <td id = 'currentComment<%=commentCount%>'><%= comment %></td>
                                <td style = 'display: none; width: 80%;' id = 'newComment<%=commentCount%>'><input id = 'new<%=commentCount%>'style = 'width: 100%' type="text" value = '<%=comment%>'></td>
                                <td  style= "display: none;"  id ="commentEditbtns<%= i%>" class = "<%=userId_DB%>">
                                    <div id = 'commentBtns<%=commentCount%>'>
                                    <button id = 'commentEditBtn<%=commentCount%>' onclick = 'editShow(<%=commentCount%>)'>수정</button>
                                    <button id = 'commentDeleteBtn<%=commentCount%>' onclick = 'commentDelete(<%=commentCount%>)'>삭제</button>
                                    </div>
                                </td>
                                </tr>
                                <% } %>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>