<!-- 전체 게시글 조회 페이지 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  About styling  -->
    <link href
    ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src
        ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Myeongjo&family=Yeon+Sung&display=swap"
    rel="stylesheet">

    <!-- About JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>MyBlog with node.js</title>
    <!-- style -->
    <style>
        
        *{
            font-family: 'Yeon Sung', cursive;
        }
.title {
    background-color: darkblue;
    color: ivory;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    min-width: 400px;
    height: 20%;
    min-height: 100px;
}

.titlewrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebox > h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Yeon Sung', cursive;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrap {
    width: 95%;
    height: 50%;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}


.table {
    border: 1px solid black;
    font-size: 15px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.showtable {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.register{
    width: 90%;
    display: flex;
}

.register > button:first-child{
    margin-right: 10px
}

.btn{
    width: 10%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

.click:hover{
    cursor: pointer;
}

    </style>
    <script>


        // 로컬 스토리지가 비어 있지 않으면, 사용자 인증 요청
        // 토큰
        $(document).ready(function(){
            
            if (localStorage.length !== 0){
                getSelf()
            }
            
        })

        //  사용자 인증 요청
        function getSelf() {
            $.ajax({
                type: "GET",
                url: "/posts/users/me",
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                        },
                success: function (response) {
                    let temp_html = `<button onclick = logout()>로그아웃</button>`
                    $('#logdiv').append(temp_html)
                    $('#loginbtn').hide()
                    $('#postbtn').show()
                    let currentUserId_DB = response.user._id
                    let fixbtnclass = $('#fixbtn').attr('class').split('`')[1]
                    console.log(currentUserId_DB, fixbtnclass)
                    if (fixbtnclass === currentUserId_DB){
                        $('#fixbtn').show()
                    }


                    },
                error: function (xhr, status, error) {
                    if (status == 401) {
                        alert("로그인이 필요합니다.");
                    } else {
                        localStorage.clear();
                        alert("알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.");
                    }
                    window.location.href = "/";
                    },
                });
                }

        function logout(){
            localStorage.clear()
            window.location.href = '/posts'
            }
    </script>
</head>
<body>
    <header class="title">
        <div class="titlewrap">
            <div class="titlebox">
                <h1 class="titlename" id='realname'>
                    유현준 블로그
                </h1>
            </div>
    </header>
    </div>
    <main>
        <div class="wrap">
            <div class="review">
                <div class="showtable">
                    <div class="btns">
                    <div id = 'logdiv' class="register">
                        <button id = 'loginbtn' onclick = 'window.location.href = "/posts/auth"'>로그인</button>
                    </div>
                    <div class="btn">
                        <button style = "display: none" id = 'postbtn' onclick="window.location.href = '/posts/upload'">글쓰기</button>
                    </div>
                    </div>
                    <table id='placetable' class='table'>
                        <thead>
                        <tr>
                            <td>작성날짜</td>
                            <td>작성자명</td>
                            <td>제목</td>
                            <td>비고</td>
                        </tr>
                        </thead>
                        <tbody id="recipeitems">
                            <% for (let i = 0; i < post.length; i++) { %>
                                <% let userId_DB = post[i]['userId_DB'] %>
                                <% let nickname = post[i]['nickname'] %>
                                <% let title = post[i]['title'] %>
                                <% let date = post[i]['date'].slice(0,24) %>
                                <% let count = post[i]['count']%>
                                <tr class = 'click'> <!-- 게시물 클릭 시, 상세 게시물 페이지로 전환 -->
                                <td onclick="window.location.href = `/posts/<%= count%>`"><%= date %></td>
                                <td onclick="window.location.href = `/posts/<%= count%>`"><%= nickname %></td>
                                <td onclick="window.location.href = `/posts/<%= count%>`"><%= title %></td>
                                <td id = "fixbtn" style = "display: none"  class = `<%= userId_DB %>` onclick="window.location.href = `/posts/<%= count%>/edit`">수정하기</td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <p id='explain_norecipe' style="text-align: left; font-size: 9px"></p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>